// custom.scss
$background: #1c1d35;
$background-subtle: #3e3e49d4;
$sidebar-background: #1c1d35;
$background-sidebar: #1c1d35;
$background-examples: #13141e;

$text-color: #D3D3D3;
$text-color-subtle: #999999;

$link-color: #26B2E3;
$link-color-hover: #1a9ac8;

$border-color: #4A66A7;
$border-color-subtle: #3B507D;

$background-code-block-heading: #3e3e49d4;
$background-code-block: #3e3e49d4;
$background-arguments: #3e3e49d4;

.copy-icon {
  font-size: 0.9rem !important;
  color: #b0b0b0;
  margin-right: -5px;
}

.copy-icon:hover {
  color: #fff;
  cursor: pointer;
}

.badge {
  display: b;
  font-size: 0.7rem;   
  padding: 1px 4px;   
  font-weight: bold; 
  text-align: center;
  border-radius: 5px;
  text-transform: lowercase;
}

.badge--query {
  background-color: rgb(55 96 122 / 53%);  /* Light blue background for "Q" */
  color: #A5E0F3;   /* Midnight blue text color */
  margin-left: -8px;
}

.badge--mutation {
  background-color: rgb(102 87 11 / 54%);  /* Yellow background for "M" */
  color: #FCD839;   /* Midnight blue text color */
  margin-left: -8px;
}

#spectaql {
    .row-field-arguments .field-arguments {
    border: none;
    }
    .operation-heading, .definition-heading {
      font-family: Menlo, Consolas, monospace;
      color: #fff;
      font-weight: 400;
      padding-left: 17px !important;
    }
    .operation-group-name {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); 
    }
    .doc-heading {
      color: #fff
    }
    .group-heading {
      color: white;
      font-weight: 700;
      background-color: #121526 !important;
    }
    .group-heading::after {
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)); 
    }

#sidebar {
  ul li a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
};
 .nav-item {
  font-family: Menlo, Consolas, monospace;
  font-size: 0.9em;
 }
}

.flex {
  display: inline-flex;
  align-items: center;
}
}

.query-nav-item, .mutation-nav-item, .subscription-nav-item {
  display: none;
}

.first-query {
  display: block;
  color: #A5E0F3;
  font-size: 0.7rem;
  text-transform: lowercase;
}

.first-mutation {
  display: block;
  color: #FCD839;
  font-size: 0.7rem;
  text-transform: lowercase;
}
